# removing large files
project/__pycache__/
project/model_output_*/
project/explainability_results/
project/data/crows_pairs_fr_neutral_only.csv
project/data/crows_pairs_fr_unrelated_only.csv
project/data/crows_pairs_fr_converted.csv
project/data/crows_pairs_FR_languagearc_contribution+210.csv
project/result_output_ablation_3class/crows_fr/full_results.csv
project/result_output_ablation_drop_neutral/crows_fr/full_results.csv
project/result_output_ablation_drop_unrelated/crows_fr/full_results.csv
project/result_output_ablation_epoch8/crows_fr/full_results.csv
project/result_output_ablation_lr5e5/crows_fr/full_results.csv
project/result_output_ablation_maxlen128/crows_fr/full_results.csv
project/result_output_albert_crows_simple/crows_fr_trained/crows_fr/full_results.csv
project/result_output_albertv2/mgsd_trained/mgsd/full_results.csv
project/result_output_baselines/majority_class/full_results.csv
project/result_output_camembert/crows_fr_trained/crows_fr/full_results.csv
project/result_output_camembert_final/crows_fr_final/full_results.csv
project/result_output_camembert_v2/crows_fr_trained_v2/crows_fr_v2/full_results.csv
project/result_output_camembert_v3/crows_fr_trained_v3/crows_fr_v3/full_results.csv
project/result_output_distilbert/crows_fr/full_results.csv
project/result_output_LR_tfidf/crows_fr/full_results.csv
project/results_significance/camembert_epochs_ablation/bootstrap_distribution.csv
project/results_significance/camembert_lr_ablation/bootstrap_distribution.csv
project/results_significance/camembert_maxlen_ablation/bootstrap_distribution.csv
project/results_significance/camembert_vs_ablation_drop_neutral/bootstrap_distribution.csv
project/results_significance/camembert_vs_ablation_drop_unrelated/bootstrap_distribution.csv
project/results_significance/camembert_vs_albert/bootstrap_distribution.csv
project/results_significance/camembert_vs_distilbert/bootstrap_distribution.csv
project/results_significance/camembert_vs_logreg/bootstrap_distribution.csv
project/TEST/__pycache__/
project/TEST/ABLATION/__pycache__/
project/TEST/significance/__pycache__/
.DS_Store
**/.DS_Store
